.ts-content-title, .ts-content-button {
    font: 12px arial,sans-serif;
    max-height: 340px;
}

.ts-content-title {
    font: 20px arial,sans-serif;
    line-height: 28px;
}

.ts-content-element {
    margin-bottom: 64px;
}

.ts-content-title {
    color: #595959;
    text-align: center;
    transition: all 0.2s ease;
    margin-bottom: 32px;
}

.ts-content-button {
    background-color: #a2c14b;
    border-radius: 4px;
    border-width: 0;
    color: #ffffff;
    padding: 10px 24px;
    transition: all 0.2s ease;
}

.ts-clickable {
    cursor: pointer;
}

.ts-content-preview {
    width: 100%;
    height: auto;
    transition: all 0.2s ease;
}

.ts-content-preview-wrapper {
    padding: 8px;
}

.ts-content-element .row {
    align-content: center;
    justify-content: center;
}

.ts-grid-selector.row {
    max-width: 1280px;
    margin: auto;
}
